@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 450px) {
  .container {
    padding: 0 8px;
  }
}

section,
article,
header,
main,
footer,
aside {
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oswald";
  min-width: 374px;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.h1 {
  font-weight: 500;
  font-size: 64px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 95px;
  letter-spacing: 2px;
}

.h2 {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 72px;
}

.h3 {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #404149;
  line-height: 54px;
  text-align: center;
  margin-bottom: 60px;
}

.h4 {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 34px;
  color: #404149;
  margin: 15px 0 20px;
}

.h5 {
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 31px;
  letter-spacing: 0.02em;
}

.textplus {
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  font-family: "Open Sans";
  line-height: 22px;
  color: #999999;
}

.text {
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  font-family: "Open Sans";
  line-height: 21px;
  color: #999999;
}

@media (min-width: 678px) {
  .h4-burger-hover:hover {
    text-decoration: underline;
  }
  /* hover menu burger */
  #menu__toggle:checked ~ .header__nav-box {
    visibility: visible;
  }
  /* menu burger EXIT*/
  .project__card:hover input[type="range"]::-webkit-slider-thumb {
    -webkit-box-shadow: 2px 2px 18px #dd7171;
            box-shadow: 2px 2px 18px #dd7171;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .reviews__wrapp-text:hover {
    background: #fff1f1;
    -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    -webkit-transition: scale, 0.2s linear;
    transition: scale, 0.2s linear;
  }
  .btn-hover {
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .btn-hover:hover {
    background: white;
    color: #f7654a;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .btn-hover:hover path {
    fill: #f7654a;
  }
  .fa-chevron:hover {
    color: white;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .h4-container-hover:hover {
    color: #f7654a;
  }
  .contacts__wrapp-img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
}

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  height: 740px;
}

.header__menu {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  text-align: center;
  cursor: pointer;
  line-height: 52px;
}

.header__name {
  max-width: 734px;
  text-align: center;
  margin: 0 auto;
  padding-top: 112px;
}

.header__name .textbig {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 27px;
  margin-top: 30px;
}

/* menu burger */
.header__nav {
  position: relative;
}

#menu__toggle {
  opacity: 0;
}

.header__nav-btn {
  width: 50px;
  height: 50px;
  background-color: #f7654a;
  cursor: pointer;
  color: white;
  padding: 15px;
}

.header__nav-box {
  position: absolute;
  right: 0;
  visibility: hidden;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 1px;
  background: #f7f7f7;
  text-align: right;
}

/* menu burger EXIT*/
.project {
  padding: 250px 0 150px;
  position: relative;
}

.project__wrapp {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__card {
  margin-bottom: 20px;
}

.project__card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project input[type="range"] {
  overflow: hidden;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  padding: 40px 0;
}

.project input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: transparent;
  margin-top: -1px;
}

.project input[type="range"]::-webkit-slider-thumb {
  width: 25%;
  -webkit-appearance: none;
  height: 8px;
  cursor: pointer;
  background: #f7654a;
}

input[type="range"]::-moz-range-progress {
  background-color: transparent;
}

input[type="range"]::-moz-range-track {
  background-color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background-color: transparent;
}

input[type="range"]::-ms-fill-upper {
  background-color: transparent;
}

.project__number {
  opacity: 0;
  position: absolute;
  top: -115px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #f7f7f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (190px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 190px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  text-align: center;
  padding: 57px 0;
}

.project__number-year {
  color: #f7654a;
}

.project__number .h3-number {
  color: black;
  margin: 0 0 10px;
}

.request {
  background: #f7654a;
}

.request__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__wrapp .request-h2 {
  max-width: 600px;
  padding: 30px 0 45px;
}

.request__wrapp .h3-span {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px;
}

.request__wrapp-button {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.05em;
  height: 50px;
  padding: 0 30px;
}

.request__wrapp-img {
  margin-right: 15px;
}

.services {
  padding: 195px 0 150px;
}

.services__wrapp {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item {
  padding: 59px 0;
  background: #f7f7f7;
  text-align: center;
}

.services__item-img {
  margin-bottom: 30px;
}

.services__item .services-h5 {
  max-width: 172px;
  margin: 0 auto;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.portfolio__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__big {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.938);
  padding: 0 25px;
  z-index: 3;
}

.portfolio__big-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  min-width: 500px;
  width: 100%;
  max-height: 800px;
  min-height: 200px;
  height: 100%;
  background: black;
}

.portfolio__big .portfolio__img-big {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio__big-arrow {
  padding-top: 50px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__big .fa-chevron {
  font-size: 110px;
  color: #f7654a;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.portfolio__big .fa-chevron:active {
  color: #2b1f1f;
}

.question {
  margin: 150px 0;
}

.question__block {
  max-width: 730px;
  height: 495px;
}

.question__block-open[open] .textplus-question {
  display: block;
}

.question__block-summary {
  color: #f7654a;
  padding-bottom: 35px;
  margin: 0;
  cursor: pointer;
}

.question .h3-question {
  color: black;
  text-align: right;
}

.question .textplus-question {
  margin-top: 25px;
  display: none;
  cursor: default;
}

.partners {
  background: #404149;
  padding: 100px 0;
}

.partners__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .h3-partners {
  color: #ffffff;
}

.reviews {
  margin: 150px 0;
}

.reviews .h3-reviews {
  color: black;
}

.reviews__wrapp {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__wrapp-text {
  background: #f7f7f7;
  padding: 38px 30px;
  margin-bottom: 30px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.reviews__wrapp-quotes {
  padding-bottom: 10px;
}

.reviews__wrapp .company-reviews {
  color: #f7654a;
}

.footer {
  margin-top: 100px;
}

.footer .contacts {
  margin-bottom: 150px;
}

.footer .contacts .h3-container,
.footer .contacts .h4-container {
  color: black;
}

.footer .contacts .h4-margin {
  margin: 0;
}

.footer .contacts__wrapp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (255px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 255px);
  gap: 30px;
  text-align: center;
}

.footer .contacts__wrapp-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px 100px;
      grid-template-rows: 50px 50px 100px;
  justify-items: center;
  gap: 30px;
}

.footer .contacts__wrapp-img {
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.footer__bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #404149;
}

.footer__bottom-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loading-grid {
  opacity: 1;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.btn-up {
  display: none;
  position: fixed;
  height: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 5s linear;
  transition: 5s linear;
}

.btn-up-open {
  display: block;
  -webkit-transition: 5s linear;
  transition: 5s linear;
}

.text-btn-up {
  width: 90px;
  height: 100%;
  padding-top: 25px;
}

.fa-chevron-up {
  font-size: 28px;
}

.btn-up:hover .text-btn-up {
  background: rgba(43, 39, 39, 0.075);
}
